/* CSS */
.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1b0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chapters {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  overflow: auto;
}

.chaptersWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
}


.chaptersWrapperSmallScreen {
  z-index: 1100;
  position: fixed;
  height: 500px;
  overflow: auto;
  margin-right: -50px;
}

.hiddenbutton {
  display: none;
  width: 40px;
  height: 38px;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 0;
  z-index: 1000;
}

.image-gallery {
  top: 50%;
  transform: translate(-0,-50%);
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: calc(100vh - 80px);
}

.posters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 828px) {
  .chaptersWrapper {
      display: none;
  }
  .hiddenbutton {
    display: flex;
    justify-content: center;
  }
  .image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: calc(100vh);
  }
}

@media (max-width: 496px) {
  .posters{
    justify-content: center;
  }
}

@media (min-width: 828px) {
  .chaptersWrapperSmallScreen {
      display: none;
  }
}